.card {
  display: flex;
  justify-content: start;
  height: 1000px;
  text-align: center;
}

.commonColumn {
  overflow: auto;
  width: 25%;
  margin: 2%;
}
.childContainer {
  height: 100px;
  width: 100%;
  background-color: rgb(236, 209, 213);
  margin: 3%;
}

@media all and (max-width: 1400px) {
  .columnFour {
    display: none;
  }
}
@media all and (max-width: 1000px) {
  .columnThree {
    display: none;
  }
}
@media all and (max-width: 800px) {
  .columnTwo {
    display: none;
  }
}
